<html>
<head>
    <title>用户更新</title>
</head>
<body>
{% if msg.code == 0 %}
    <p style="color: green"> {{ msg.result }}</p>
{% else %}
    <p style="color: red"> {{ msg.errmsg }}</p>
{% endif %}
  
<!--用户更新提交--POST请求-->
<form method="post" action="" >
    姓名:
    <input type="text" name="name" value={{ user.name }}>
    <br>
    <br>
    密码:
    <input type="password" name="password" value={{ user.password }}>
    <br>
    <br>
    性别:
    {% if user.sex == 0 %}
        <input type="radio" name="sex" value="0" checked>男
        <input type="radio" name="sex" value="1">女
    {% else %}
        <input type="radio" name="sex" value="0">男
        <input type="radio" name="sex" value="1" checked>女
    {% endif %}
    <br>
    <br>
    <button type="submit">确定</button>
    <!--定义一个超链接,使用app_name + 命名空间的方式,更加灵活,用户点击取消按钮则跳转到userlist路由中path('userlist/', views1.userlist, name="userlist"),-->
    <button><a href="{% url 'hello:userlist' %}">取消</a></button>
</form>
</body>
</html